/*
    ==============================================
                ****** RESET ******
    ==============================================
*/
body {
  margin: 0;
}

:root {
  --color-red: #f42;
  --bg-color-red: #f42;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  
}

a:hover {
  color: #333;
}

button:hover,a:hover,img:hover {
  cursor: pointer;
}

/*
    ==============================================
                ****** GLOBAL ******
    ==============================================
*/
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.btn-nav {
  padding: 10px;
  margin: 0 5px;
  background-color: white;
  border: none;
  font-size: 1rem;
}
.btn-nav:hover{
  background-color: #F7F7F7 ;
}
.nav-link {
  color: black;
  font-weight: bold;
}
.nav-link:hover {
  text-decoration: underline;  
}
.img-nav {
  height: 2.2rem;
}
.btn {
  background-color: #567B95;
  padding: 10px;
  border-radius: 5px;
  color: white;
}
.btn:hover {
  background-color: #326891;
}