/*
    ==============================================
                ****** RESET ******
    ==============================================
*/
body {
  margin: 0;
}

:root {
  --color-red: #f42;
  --bg-color-red: #f42;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: #333;
}

button:hover,a:hover,img:hover {
  cursor: pointer;
}

/*
    ==============================================
                ****** GLOBAL ******
    ==============================================
*/

/* Navbar section */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.btn-nav {
  padding: 10px;
  margin: 0 5px;
  background-color: white;
  border: none;
  font-size: 1rem;
}
.btn-nav:hover{
  background-color: #F7F7F7 ;
}
.nav-link {
  color: black;
  font-weight: bold;
}
.nav-link:hover {
  text-decoration: underline;  
}
.img-nav {
  height: 2.2rem;
}
.btn {
  background-color: #567B95;
  padding: 10px;
  border-radius: 5px;
  color: white;
}
.btn:hover {
  background-color: #326891;
}

/* Main section */
.container {
  width: 1200px;
  text-align: center;
}
.header {
  width:1200px;
  margin: 0 auto;
}
.heading {
  width: 600px;
  margin: 0 auto;
  margin-top: 40px;
}
h1 {
  margin: 20px auto;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-style: italic;
}
.social-networks {
  margin-top: 20px;
}
.social-net {
  display:inline-block;
  width: 30px;
  height: 30px;
  color:black;
  background-color: lightgray;
  border-radius: 50%;
  padding: 3px;
  text-align: center;
  padding-top: 5px;
  margin: 5px;
}
.social-net:hover {
  background-color: white;
  border: 1px solid lightgray;
}
.icon {
  color: black;
  font-size: 1.5rem;
  margin: 5px;
}
.heading-img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
figure {
  display:block;
  max-width: 100%;
  flex-direction: column;
  margin-top: 20px;
}
.small-font {
  opacity: 0.5;
  font-size: 0.8rem;
}

